.App {
  text-align: center;
  
}
.samplebtn{
    background-color: red;
    width:15rem;
}
 .overallDiv {
  border: 2px solid black;
  height: 100vh;
}

.left{
  border: 1px solid black;
  height: 100vh;
} 
